@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    
</address>

<address>
    <strong>Support:</strong> <a href="mailto:cpahdejib@gmail.com">cpahdejib@gmail.com</a><br />
</address>
